<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div>
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </div>
    <div>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    </div>
    <div>
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
    </div>
    
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>ABM Alumnos</span>
    </mat-toolbar>
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile>
        <app-abm-alumnos></app-abm-alumnos>  
      </mat-grid-tile>
    </mat-grid-list>  
  </mat-sidenav-content>
</mat-sidenav-container>
